:root{
    --main-font: "Outfit", sans-serif;
    --main-font-size:16px;
    --main-bg-color: hsl(0,0%,100%);
    --main-text-color: hsl(180,1%,32%);
    --accent-color: hsl(47,100%,45%);
}

html{
    box-sizing: border-box;
}
::before,
::after{
    box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, ul,li.p {
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
text-decoration: none;
color: var(--main-text-color);
}

.container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}

.fbx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section{
    min-height: 190px;
}

.header__menu {
    justify-content: center;
    gap: 40px;
}

.header__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
}

.header__menu-link.active {
    font-weight: 700;
    color: var(--accent-color);
    
}


.hero {
    min-height: 940px;
    position: relative;
}

hgroup h1{
    font-weight: 700;
    font-size: 15.625rem;
    line-height: 315px;
    text-transform: uppercase;
    margin-inline-start: 55px;
}

hgroup h2 {
font-weight: 700;
text-align: end;
font-size: 24px;
line-height: 30px;
text-transform: lowercase;
}

.hero > img {
    margin-block-start: -235px;
}

.hero article{
width: 310px;
height: 315px;
position: absolute;
right: 10px;
bottom: 45px;
}

.hero article h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-block-end: 55px;
}

.hero__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__list-item {
    background: hsla(0, 0%, 85%, 0.5); 
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left__line {
    padding-inline-start: 30px;
    border-inline-start: 5px solid var(--accent-color);
    height: 45px;
    
}

.left__line h4 {
    font-size: 30px;
    font-weight: 400;
}

.left__line p {
    color: #515252;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content {
    padding-block-start: 55px;
    padding-block-end: 60px;
}

.content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    margin-block-end: 20px;
}

.content p{
    text-align: justify;
    margin-block-end: 20px;
}

.contacts {
    padding-block-start: 30px;
    padding-block-end: 60px;
    border-block-start: 2px solid hsl(180, 1%, 32%, 0.8);
    border-block-end: 2px solid hsl(180, 1%, 32%, 0.8);
}

.contacts article {
    min-height: 235px;
}

.contacts h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    margin-block-end: 20px;
}

.footer__menu li{
    padding-inline-start: 20px;
    position: relative;
}

.footer__menu li::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--accent-color);
    border-radius: 50%;
    top: 11px;
    left: 5px;
}

.footer__menu li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.footer__menu-link {}

.social {
    display: flex;
    flex-direction:column-reverse;
    justify-content: space-between;
    align-items: center;
}

.social a img {
    opacity: 0.2;
}

.social__menu {
    gap: 10px;
}

.cocial__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-text-color);
    border-radius: 50%;
    color: var(--main-bg-color);
    width: 36px;
    height: 36px;
    font-size: 20px;
}

.cocial__menu-link:hover {
background: var(--accent-color);
}

.copyright {
    padding-block-start: 80px;
    padding-block-end: 40px;
}

.copyright {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    opacity: 0.2;
    text-align: center;
}